.main {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 10px 5px;
  background-color: rgb(245, 3, 3);
  color: rgb(202, 219, 219);
}

.containerPoke {
  cursor: pointer;
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  font-size: 0.8em;
  font-weight: 400;
  justify-content: space-between;
  margin: 10px 15px;
  max-width: 415px;
  padding: 10px;
  transition: border 0.3s;
}

.containerPoke:hover {
  border: 4px solid rgb(245, 3, 3);
}

.infoPoke {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 60%;
}

.info {
  padding-top: 10px;
}

.imgPoke {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pokedex {
  display: flex;
  margin: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}